In [1]:
import sqlite3

# Connect to SQLite (in-memory for demo or use a file for persistent DB)
conn = sqlite3.connect("student_results.db")
cursor = conn.cursor()
print("Database created and connected successfully.")

Database created and connected successfully.

In [2]:
# Create Students Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Students (
    student_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    class TEXT
)
""")

# Create Subjects Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Subjects (
    subject_id INTEGER PRIMARY KEY,
    subject_name TEXT NOT NULL
)
""")

# Create Results Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Results (
    result_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    subject_id INTEGER,
    marks INTEGER,
    FOREIGN KEY(student_id) REFERENCES Students(student_id),
    FOREIGN KEY(subject_id) REFERENCES Subjects(subject_id)
)
""")

conn.commit()
print("Tables created successfully.")

Tables created successfully.

In [3]:
# Insert Students
students = [
    (1, "Alice", "10-A"),
    (2, "Bob", "10-A"),
    (3, "Charlie", "10-B")
]
cursor.executemany("INSERT OR IGNORE INTO Students VALUES (?, ?, ?)", students)

# Insert Subjects
subjects = [
    (101, "Math"),
    (102, "Science"),
    (103, "English")
]
cursor.executemany("INSERT OR IGNORE INTO Subjects VALUES (?, ?)", subjects)

# Insert Results
results = [
    (1, 1, 101, 85),
    (2, 1, 102, 78),
    (3, 2, 101, 90),
    (4, 2, 102, 88),
    (5, 3, 103, 92)
]
cursor.executemany("INSERT OR IGNORE INTO Results VALUES (?, ?, ?, ?)", results)

conn.commit()
print("Sample data inserted.")

Sample data inserted.

In [4]:
query = """
SELECT
    Students.name,
    Students.class,
    Subjects.subject_name,
    Results.marks
FROM Results
JOIN Students ON Results.student_id = Students.student_id
JOIN Subjects ON Results.subject_id = Subjects.subject_id
ORDER BY Students.name
"""

cursor.execute(query)
rows = cursor.fetchall()

print("Student Results:\n")
for row in rows:
    print(f"Name: {row[0]}, Class: {row[1]}, Subject: {row[2]}, Marks: {row[3]}")

Student Results:

Name: Alice, Class: 10-A, Subject: Math, Marks: 85
Name: Alice, Class: 10-A, Subject: Science, Marks: 78
Name: Bob, Class: 10-A, Subject: Math, Marks: 90
Name: Bob, Class: 10-A, Subject: Science, Marks: 88
Name: Charlie, Class: 10-B, Subject: English, Marks: 92

In [5]:
# Update marks for Bob in Science
cursor.execute("""
UPDATE Results
SET marks = 91
WHERE student_id = 2 AND subject_id = 102
""")
conn.commit()
print("Marks updated.")

Marks updated.

In [6]:
query = """
SELECT
    Students.name,
    AVG(Results.marks) as average_marks
FROM Results
JOIN Students ON Results.student_id = Students.student_id
GROUP BY Students.name
"""

cursor.execute(query)
results = cursor.fetchall()

print("Average Marks:\n")
for name, avg in results:
    print(f"{name}: {avg:.2f}")

Average Marks:

Alice: 81.50
Bob: 90.50
Charlie: 92.00

In [7]:
conn.close()
print("Database connection closed.")

Database connection closed.